include ../radio-button/radio-button

mixin panel(index, parameters)
  .panel.js-panel
    form(name = "slider" + index)
      .panel__current-values
        h3.panel__title Значения
        input(type = "text" class = "panel__current-minvalue js-panel__current-minvalue")
        input(type = "text" class = "panel__current-maxvalue js-panel__current-maxvalue")
      .panel__config
        .panel__row
          h3.panel__title Конфигурация
          .panel__wrapper-input
            input(type = "text" class = "panel__minValue js-panel__minValue")
            span.panel__input-text Минимум
          .panel__wrapper-input
            input(type = "text" class = "panel__maxValue js-panel__maxValue")
            span.panel__input-text Максимум
          .panel__wrapper-input
            input(type = "text" class = "panel__step js-panel__step")
            span.panel__input-text Шаг
        .panel__row
          h3.panel__title Диапазон
          if parameters.isRange
            +radio-button({ class: "panel__range js-panel__range", name: "range", value: "single", text: "Одиночный" })
            +radio-button({ class: "panel__range js-panel__range", name: "range", value: "range", text: "Диапазон", checked: true })
          else
            +radio-button({ class: "panel__range js-panel__range", name: "range", value: "single", text: "Одиночный", checked: true })
            +radio-button({ class: "panel__range js-panel__range", name: "range", value: "range", text: "Диапазон" })
        .panel__row
          h3.panel__title Ориентация
          if parameters.isVertical
            +radio-button({ class: "panel__orientation js-panel__orientation", name: "vertical", value: "horizontal", text: "Горизонтальный" })
            +radio-button({ class: "panel__orientation js-panel__orientation", name: "vertical", value: "vertical", text: "Вертикальный", checked: true })
          else
            +radio-button({ class: "panel__orientation js-panel__orientation", name: "vertical", value: "horizontal", text: "Горизонтальный", checked: true })
            +radio-button({ class: "panel__orientation js-panel__orientation", name: "vertical", value: "vertical", text: "Вертикальный" })
        .panel__row
          h3= "Отображение значений"
          +radio-button({ class: "js-panel__showing-labels panel__showing-labels", name: "showLabel", value: "noLabel", text: "Без значений" })
          +radio-button({ class: "js-panel__showing-labels panel__showing-labels", name: "showLabel", value: "showLabel", text: "Со значениями", checked: true })
