include ../radio-button/radio-button

mixin slider(index, parameters)
  .slider-wrapper.js-slider-wrapper
    .slider.js-slider
    .input-wrapper
      form(name = "slider" + index)
        .slider__values
          h3 Значения
          input(type = "text" class = "minValueIn js-minValueIn")
          input(type = "text" class = "maxValueIn js-maxValueIn")
        .slider__config
          .row
            h3 Конфигурация
            div
              input(type = "text" class = "js-minValue")
              span Минимум
            div
              input(type = "text" class = "js-maxValue")
              span Максимум
            div
              input(type = "text" class = "js-step")
              span Шаг
          .row
            h3 Диапазон
            if parameters.isRange
              +radio-button({ class: "js-range", name: "range", value: "single", text: "Одиночный" })
              +radio-button({ class: "js-range", name: "range", value: "range", text: "Диапазон", checked: true })
            else
              +radio-button({ class: "js-range", name: "range", value: "single", text: "Одиночный", checked: true })
              +radio-button({ class: "js-range", name: "range", value: "range", text: "Диапазон" })
          .row
            h3 Ориентация
            if parameters.isVertical
              +radio-button({ class: "js-vertical", name: "vertical", value: "horizontal", text: "Горизонтальный" })
              +radio-button({ class: "js-vertical", name: "vertical", value: "vertical", text: "Вертикальный", checked: true })
            else
              +radio-button({ class: "js-vertical", name: "vertical", value: "horizontal", text: "Горизонтальный", checked: true })
              +radio-button({ class: "js-vertical", name: "vertical", value: "vertical", text: "Вертикальный" })
          .row
            h3= "Отображение значений"
            +radio-button({ class: "js-label", name: "showLabel", value: "noLabel", text: "Без значений" })
            +radio-button({ class: "js-label", name: "showLabel", value: "showLabel", text: "Со значениями", checked: true })
