include ../radio-button/radio-button

mixin panel(index, parameters)
  - const { isRange, isVertical } = parameters
  .panel.js-panel
    form(name = "slider" + index)
      .panel__current-values
        h3.panel__title Значения
        input(type = "text" class = "panel__current-minvalue js-panel__current-minvalue")
        input(type = "text" class = "panel__current-maxvalue js-panel__current-maxvalue")
      .panel__config
        .panel__row
          h3.panel__title Конфигурация
          .panel__wrapper-input
            input(type = "text" class = "panel__minValue js-panel__minValue")
            span.panel__input-text Минимум
          .panel__wrapper-input
            input(type = "text" class = "panel__maxValue js-panel__maxValue")
            span.panel__input-text Максимум
          .panel__wrapper-input
            input(type = "text" class = "panel__step js-panel__step")
            span.panel__input-text Шаг
        .panel__row
          h3.panel__title Диапазон
          if isRange
            +radio-button({ classProp: "panel__range js-panel__range", nameProp: "range", valueProp: "single", textProp: "Одиночный" })
            +radio-button({ classProp: "panel__range js-panel__range", nameProp: "range", valueProp: "range", textProp: "Диапазон", checkedProp: true })
          else
            +radio-button({ classProp: "panel__range js-panel__range", nameProp: "range", valueProp: "single", textProp: "Одиночный", checkedProp: true })
            +radio-button({ classProp: "panel__range js-panel__range", nameProp: "range", valueProp: "range", textProp: "Диапазон" })
        .panel__row
          h3.panel__title Ориентация
          if isVertical
            +radio-button({ classProp: "panel__orientation js-panel__orientation", nameProp: "vertical", valueProp: "horizontal", textProp: "Горизонтальный" })
            +radio-button({ classProp: "panel__orientation js-panel__orientation", nameProp: "vertical", valueProp: "vertical", textProp: "Вертикальный", checkedProp: true })
          else
            +radio-button({ classProp: "panel__orientation js-panel__orientation", nameProp: "vertical", valueProp: "horizontal", textProp: "Горизонтальный", checkedProp: true })
            +radio-button({ classProp: "panel__orientation js-panel__orientation", nameProp: "vertical", valueProp: "vertical", textProp: "Вертикальный" })
        .panel__row
          h3= "Отображение значений"
          +radio-button({ classProp: "js-panel__showing-labels panel__showing-labels", nameProp: "showLabel", valueProp: "noLabel", textProp: "Без значений" })
          +radio-button({ classProp: "js-panel__showing-labels panel__showing-labels", nameProp: "showLabel", valueProp: "showLabel", textProp: "Со значениями", checkedProp: true })
