mixin radio-button({ classProp, nameProp, valueProp, checkedProp, textProp })
  label.radio-button
    input(type= "radio" class= classProp name= nameProp value= valueProp checked=checkedProp).radio-button__field
    span.radio-button__text= textProp