$grey: #EEE;
$green: #6FCF97;
$red: #990033;

.slider {
    width: 400px;
    height: 400px;
    margin: 60px;
    position: relative;
    font: 14px/18px "Montserrat";
}
.slider__scale {
    width: 100%;
    height: 4px;
    background: $grey;
    border: 1px solid $grey;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    margin-top: -3px;
    cursor: pointer;
    z-index: 2;
}
.slider__scale_vertical {
    height: 100%;
    width: 4px;
    top: 0;
    left: 50%;
    margin: 0 0 0 -3px;
}
.slider__graduation {
    position: absolute;
    top: 50%;
    margin: 20px 0 0 0; 
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
}
.slider__graduation_vertical {
    flex-direction: column;
    top: 0;
    left: 50%;
    margin: 0 0 0 -60px;
    height: 100%;
}
.slider__graduation__mark {
    min-width: 30px;
    cursor: pointer;
}

.slider__scale__filling {
    height: 100%;
    width: 50%;
    background: $green;
    position: relative;
    display: none;
}
.slider__scale__filling_vertical {
    width: 100%;
    height: 50%;
}

.slider__button__label {
    height: 15px;
    min-width: 30px;
    padding: 5px;
    border-radius: 4px;
    margin: -35px 0 0 0;
    background: $green;
    color: white;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: none;
    text-align: center;
}
.slider__button__label_vertical {
    margin: 0 0 0 10px;
}

.slider__button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: $green;
    position: absolute;
    margin: -6px 0 0 0;
    cursor: pointer;
    z-index: 3;
}
.slider__button_vertical {
    margin: 0 0 0 -6px;
}
